<!DOCTYPE html>
<html lang="pt_br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#8257E5">

  <title>MEC | Plataforma de mecânicos online</title>

  <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/partials/page-landing.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
    rel="stylesheet">

</head>


<body id="page-landing">

  <div id="container">
    <div class="logo-container">
      <img src="/images/logo.png" alt="Mec">
      <h2>Plataforma de mecânicos online.</h2>
    </div>

    <img class=people-image src="/images/mecanico-image.png" alt="Mechanic">

    <div class="buttons-container">
      <a class="study" href="/study">
        <img src="/images/icons/chave.png" alt="Estudar">
        Mecânicos
      </a>
      <a class="give-classes" href="/give-classes">
        <img src="/images/icons/chave.png" alt="Dar aulas">
        Concertar
      </a>
    </div>

    <p class="total-connections">
      Total de 200 conexões já realizadas
      <img src="/images/icons/capacete.png" alt="Purple heart">
    </p>
  </div>

  <script src="/scripts/addField.js"></script>

</body>

</html>